.new-sec{
  padding: 60px 0px;
}

.new-sec .card-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 4;

}


.new-sec .card  img{
  height: 150px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.new-sec .card-title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  height: 50px;
}